body {
  background-color: rgb(241, 242, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1rem;
  margin: auto;
}

main,
.prize {
  width: 60vw;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  background-color: rgba(249, 249, 249, 0.583);
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0.5rem 0;
}

.prize {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  padding: 1rem;
  width: 57.5vw;
}

h1 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 500;
  margin: 0 1rem;
}

h3 {
  font-weight: 500;
  margin: 0 1rem;
  position: absolute;
  right: 22vw;
}

h4 {
  margin: 0.5rem;
}

p {
  margin: 0 1rem;
  font-size: 1.2rem;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.profile {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 15px 20px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.462);
}

@media screen and (max-width: 899px) {
  body {
    padding: 0.5rem;
  }
  main,
  .prize {
    width: 95vw;
    padding: 0.3rem 0;
  }

  .prize {
    padding-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 0.8rem;
    margin: 5px;
  }

  h3 {
    right: 4vw;
  }

  p {
    margin-right: 2rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }

  .plass {
    margin: 0;
  }

  img {
    width: 35px;
    height: 35px;
    margin: 5px;
  }

  .profile {
    margin: 15px 12px;
    padding: 2px;
  }
}
